<div class="admin-control">
    <div class="admin-control-left">
        <select name="tinh-trang-user" id="tinh-trang-user" onchange="showUser()">
            <option value="2">Tất cả</option>
            <option value="1">Hoạt động</option>
            <option value="0">Bị khóa</option>
        </select>
    </div>
    <div class="admin-control-center">
        <form action="" class="form-search">
            <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
            <input id="form-search-user" type="text" class="form-search-input" placeholder="Tìm kiếm khách hàng..." oninput="showUser()">
        </form>
    </div>
    <div class="admin-control-right">
        <form action="" class="fillter-date">
            <div>
                <label for="time-start">Từ</label>
                <input type="date" class="form-control-date" id="time-start-user" onchange="showUser()">
            </div>
            <div>
                <label for="time-end">Đến</label>
                <input type="date" class="form-control-date" id="time-end-user" onchange="showUser()">
            </div>
        </form>
        <button class="btn-reset-order" onclick="cancelSearchUser()"><i class="fa-light fa-arrow-rotate-right"></i></button>
        <button id="btn-add-user" class="btn-control-large" onclick="openCreateAccount()"><i class="fa-light fa-plus"></i> <span>Thêm khách hàng</span></button>
    </div>
</div>

<div class="modal signup">
    <div class="modal-container">
        <h3 class="modal-container-title add-account-e">THÊM KHÁCH HÀNG MỚI</h3>
        <h3 class="modal-container-title edit-account-e">CHỈNH SỬA THÔNG TIN</h3>
        <button class="modal-close"><i class="fa-regular fa-xmark"></i></button>
        <div class="form-content sign-up">
            <form action="" class="signup-form">
                <div class="form-group">
                    <label for="fullname" class="form-label">Tên đầy đủ</label>
                    <input id="fullname" name="fullname" type="text" placeholder="VD: Nhật Sinh" class="form-control">
                    <span class="form-message-name form-message"></span>
                </div>
                <div class="form-group">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input id="phone" name="phone" type="text" placeholder="Nhập số điện thoại" class="form-control">
                    <span class="form-message-phone form-message"></span>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input id="password" name="password" type="text" placeholder="Nhập mật khẩu" class="form-control">
                    <span class="form-message-password form-message"></span>
                </div>
                <div class="form-group edit-account-e">
                    <label for="" class="form-label">Trạng thái</label>
                    <input type="checkbox" id="user-status" class="switch-input">
                    <label for="user-status" class="switch"></label>
                </div>
                <button class="form-submit add-account-e" id="signup-button">Đăng ký</button>
                <button class="form-submit edit-account-e" id="btn-update-account"><i class="fa-regular fa-floppy-disk"></i> Lưu thông tin</button>
            </form>
        </div>
    </div>
</div>

<div class="table">
    <% if (allUsers.length > 0) { %>
      <table width="100%">
          <thead>
              <tr>
                  <td>STT</td>
                  <td>Họ và tên</td>
                  <td>Liên hệ</td>
                  <td>Ngày tham gia</td>
                  <td>Tình trạng</td>
                  <td></td>
              </tr>
          </thead>
          <tbody id="show-user">
              <% allUsers.forEach((user, index) => { %>
                  <tr>
                      <td><%= index + 1 %></td>
                      <td><%= user.fullname %></td>
                      <td><%= user.phone %></td>
                      <td><%= helpers.formatDate(user.join) %></td>
                      <td><%= user.status %></td>
                      <td class="control control-table">
                          <button class="btn-edit" id="edit-account" onclick='editAccount()' ><i class="fa-light fa-pen-to-square"></i></button>
                          <button class="btn-delete" id="delete-account" onclick="deleteAcount()"><i class="fa-regular fa-trash"></i></button>
                      </td>
                  </tr>
              <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <div class="no-result"><div class="no-result-i"><i class="fa-light fa-face-sad-cry"></i></div><div class="no-result-h">Không có người dùng để hiển thị</div></div>
    <% } %>
</div>

<script src="js/modal_user_form.js"></script>
